* {
    box-sizing: border-box;
  }
  
  .navbarinfo {
    opacity: 0.9;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style the header */
  header {
    background-color:rgb(34, 34, 134);
    opacity: 0.6;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgba(255, 251, 0, 0.897);

  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  body{
      background-image: url(https://www.goodfreephotos.com/albums/cuba/other-cuba/beach-and-ocean-landscape-cuba.jpg);
  }
  
  .name{
      text-align:left;
      color: rgba(255, 251, 0, 0.897);
  }

  body {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: rgb(221, 105, 51);
    }

 .about1 {
        border:none;
        background-color: none;
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 50px;
        padding-left: 0px;       
        margin-left: auto;
        margin-right: auto;
        color: rgba(255, 251, 0, 0.897);
    }

    img {
        float: right;
      }
  
  
  /* Style the footer */
     footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;

    }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
     
    nav, body {
      width: 100%;
      height: auto;
    }